.searchbox{
    width: 47%;
    height: 4.2305rem;
    border-radius: 0.55663rem;
    background: rgba(217, 217, 217, 0.12);
    box-shadow: -3.943px 3.943px 3.943px 0px rgba(255, 255, 255, 0.43) inset, 3.943px -3.943px 3.943px 0px rgba(182, 182, 182, 0.43) inset;
    backdrop-filter: blur(25.034873962402344px);
    display: flex;
    align-items: center;
    justify-content: center;

}
::placeholder{
    color: #ffff;
}
#search_btn{
    width: 4.39744rem;
    height: 2.17088rem;
    border-radius: 0.55663rem;
    border: 2.672px solid #FFF;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.11331rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.24688rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 2rem;
    cursor: pointer;
}
#search_btn:hover{
    background: #ffffff89;
    color: black;
}
.input_box{
    width:75%;
    padding:1rem;
}
@media screen and (max-width: 868px) {
    /*  */
    #search_btn{
        padding: 0.8rem;
    }
    .input_box{
        padding: 0.5rem;
    }
    .searchbox{
        width: 80%;
    }
}